html {
  box-sizing: border-box;
  background: #F3F1EB url("/assets/img/dust-dark.png") repeat;
  background-size: 238px 238px;
}
body {
  .pageContent {
    // max-width: $site-max-width;
    // margin: 0 auto;
  }
}

.siteHeader {
  margin-bottom: $space-4;
  padding: 0 $space-1;
  &:after {
    display: block;
    content: "";
    height: 9px;
    width: 100%;
    margin-top: 2px;
    background: transparent url('/assets/img/dot-grid.png') repeat;
    background-size: 3px 3px;
  }
  .siteHeader__wrapper {
    padding: $space-1 0 0 0;
    border-bottom: 2px solid $neutral--darker;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "logo byline"
    "nav nav"
    ;
    @media (min-width: $breakpoint-sm) {
      padding: $space-1 0;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: none;
      grid-template-areas:
      "logo nav byline"
      ;
    }
    align-items: center;
    .phlcfmn {
      grid-area: logo;
      width: 47px;
      height: 30px;
      svg {
        width: 47px;
      }
    }
    .byline {
      grid-area: byline;
      font-size: .5rem;
      text-align: right;
      strong {
        font-weight: 700;
        text-transform: uppercase;
        display: block;
      }
    }
    .siteNav {
      grid-area: nav;
      display: flex;
      justify-content: space-between;
      @media (min-width: $breakpoint-sm) {
        justify-content: flex-start;
        margin-left: $space-2;
      }
      a {
        font-size: .75rem;
        font-weight: 700;
        text-decoration: none;
        color: $neutral--darker;
        padding: $space-1 0;
        @media (min-width: $breakpoint-sm) {
          padding: $space-1;
        }
      }
    }
  }
}

.post {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) 5rem repeat(3, minmax(0, 15rem)) 5rem minmax(1rem, 1fr);
  grid-template-rows: auto;
  > * {
    grid-column: 2 / 7;
    @media (min-width: $breakpoint-sm) {
      grid-column: 3 / 6;
    }
  }
  .postHeader {
    margin-bottom: 3rem;
    .postMeta {
      display: inline-block;
      margin: 0 0 2rem;
      background-color: #FDC43F;
      border: 2px solid $neutral--darker;
      font-size: .7rem;
      font-weight: 700;
      text-transform: uppercase;
      box-shadow: 3px 3px 0px $neutral--darker;
      span {
        display: inline-block;
        padding: 4px 7px;
        border-right: 2px solid $neutral--darker;
        min-width: 11px;
        text-align: center;
      }
      time {
        display: inline-block;
        padding: 4px 9px 4px 7px;
      }
    }
    .postTitle {
      font-family: $headline-font-family;
      text-transform: uppercase;
      font-size: 2.5rem;
      @media (min-width: $breakpoint-sm) {
        font-size: 3.5rem;
      }
      @media (min-width: $breakpoint-md) {
        font-size: 4.5rem;
      }
      font-weight: 700;
      line-height: 1;
      margin-bottom: 2rem;
    }
    .postCategory {
      font-size: .8rem;
      line-height: 1.25;
      &:before {
        display: block;
        content: "";
        height: 2px;
        width: 12px;
        background-color: $neutral--darker;
        margin-bottom: 6px;
      }
      strong {
        display: block;
        text-transform: uppercase;
      }
    }
  }
  p {
    font-size: 1rem;
    margin: 0 0 2.5rem;
    @media (min-width: $breakpoint-md) {
      font-size: 1.25rem;
      margin: 0 0 3.5rem;
    }
  }
  .full {
    grid-column: 2 / 7;
    width: 100%;
    padding: 0;
  }
  .video__wrapper {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    font-size: 1.1rem;
    @media (min-width: $breakpoint-md) {
      font-size: 1.625rem;
    }
    font-weight: 700;
    line-height: 1.375;
    margin-bottom: .5rem;
  }
}

.siteFooter {
  padding: 0 $space-1;
  .siteFooter__wrapper {
    border-top: 2px solid $neutral--darker;
    &:before {
      display: block;
      content: "";
      height: 9px;
      width: 100%;
      margin-top: 2px;
      background: transparent url('/assets/img/dot-grid.png') repeat;
      background-size: 3px 3px;
    }
    .footnote {
      font-size: .5rem;
      margin: $space-2 0 $space-3;
      strong {
        display: block;
        text-transform: uppercase;
      }
    }
  }
}
