html {
  box-sizing: border-box;
  background: #f0eee9 url("/assets/img/dust-dark.png") repeat;
  background-size: 238px 238px;
}
body {
  .pageContent {
    // max-width: $site-max-width;
    // margin: 0 auto;
  }
}

img {
  max-width: 100%;
}

.grid--reg {
  grid-column: 2 / 12;
}

.grid--full {
  grid-column: 1 / 13;
}

.grid--hl {
  grid-column: 2 / 7;
}

.grid--hr {
  grid-column: 7 / 12;
}

.siteHeader {
  background: transparent url("../assets/img/pencil-swath.png") no-repeat;
  // background-size: cover;
  background-size: 100% 100%;
  // background-position: 0 -50px;
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: $space-4 $space-7;
    font-family: $sans;
    font-size: .875rem;
    align-items: center;
    ul {
      li {
        display: inline-block;
      }
      &:last-of-type {
        text-align: right;
        li {
          a {
            color: $neutral--darker;
            padding: $space-1 $space-2;
            text-decoration: none;
          }
        }
      }
    }
    .logo {
      a {
        svg {
          width: 47px;
        }
      }
    }
  }
}



.post {
  display: grid;
  grid-template-columns: 1fr repeat(10, minmax(0, 6rem)) 1fr;
  grid-gap: $space-1;
  margin: $space-4 0 8rem;
  > * {
    grid-column: 2 / 12;
    @media (min-width: $breakpoint-sm) {
      grid-column: 4 / 10;
    }
  }
  .postTitle {
    text-align: center;
    a {
      font-family: $headline-font-family;
      font-size: 4rem;
      line-height: 1.125;
      color: $neutral--darker;
      letter-spacing: -1.5px;
      text-decoration: none;
      position: relative;
      display: inline-block;
      .postIndex {
        font-family: $hand;
        font-size: 2.125rem;
        color: $ink;
        position: relative;
        display: inline-block;
        top: -$space-7;
        left: $space-1;
        margin: 0;
        transform: rotate(-9deg);
      }
    }
  }
  .postHeader {
    text-align: center;
    .postMeta {
      display: inline-block;
      margin: 0 0 2rem;
      background-color: #FDC43F;
      border: 2px solid $neutral--darker;
      font-size: .7rem;
      font-weight: 700;
      text-transform: uppercase;
      box-shadow: 3px 3px 0px $neutral--darker;
      span {
        display: inline-block;
        padding: 4px 7px;
        border-right: 2px solid $neutral--darker;
        min-width: 11px;
        text-align: center;
      }
      time {
        display: inline-block;
        padding: 4px 9px 4px 7px;
      }
    }
    .postTitle {
      font-family: $headline-font-family;
      text-transform: uppercase;
      font-size: 2.5rem;
      @media (min-width: $breakpoint-sm) {
        font-size: 3.5rem;
      }
      @media (min-width: $breakpoint-md) {
        font-size: 4.5rem;
      }
      font-weight: 700;
      line-height: 1;
      margin-bottom: 2rem;
    }
    .postCategory {
      font-size: .8rem;
      line-height: 1.25;
      &:before {
        display: block;
        content: "";
        height: 2px;
        width: 12px;
        margin: 0 auto;
        background-color: $neutral--darker;
        margin-bottom: 6px;
      }
      strong {
        display: block;
        text-transform: uppercase;
      }
    }
  }
  p {

  }
  .full {
    grid-column: 3 / 11;
    width: 100%;
    padding: 0;
  }
  .video__wrapper {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    font-size: 1.1rem;
    @media (min-width: $breakpoint-md) {
      font-size: 1.625rem;
    }
    font-weight: 700;
    line-height: 1.375;
    margin-bottom: .5rem;
  }
}

.siteFooter {
  padding: 0 $space-1;
  .siteFooter__wrapper {
    border-top: 2px solid $neutral--darker;
    &:before {
      display: block;
      content: "";
      height: 9px;
      width: 100%;
      margin-top: 2px;
      background: transparent url('/assets/img/dot-grid.png') repeat;
      background-size: 3px 3px;
    }
    .footnote {
      font-size: .5rem;
      margin: $space-2 0 $space-3;
      strong {
        display: block;
        text-transform: uppercase;
      }
    }
  }
}
