// Typography


:root {
  // font-size: 1.25rem;
  text-rendering: optimizeLegibility;
}

// @supports (font-kerning: normal) and (font-variant-ligatures: common-ligatures contextual) and (font-variant-numeric: oldstyle-nums proportional-nums) {
//   :root {
//     font-kerning: normal;
//     font-variant-ligatures: common-ligatures contextual;
//     font-variant-numeric: oldstyle-nums proportional-nums;
//     font-feature-settings: normal;
//   }
// }

// .numbers {
//   letter-spacing: 0.01em;
// }
//
// abbr {
//   font-feature-settings: "kern", "liga", "clig", "calt", "c2sc", "smcp";
// }
//
// @supports (font-variant-caps: all-small-caps) {
//   abbr {
//     font-variant-caps: all-small-caps;
//     font-feature-settings: normal;
//   }
// }

body {
  font-family: $root-font-family;
  line-height: 1.5;
}

h2 {
  font-family: $sans-display;
  font-size: 1.25rem;
  line-height: 1.25;
  @media (min-width: $breakpoint-md) {
    font-size: 1.5rem;
  }
}

p {
  font-family: $root-font-family;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0 0 1rem;
  @media (min-width: $breakpoint-md) {
    font-size: 1.25rem;
    margin: 0 0 1rem;
  }
  // hyphens: auto;
  strong {
    font-weight: 700;
  }
}
blockquote {
  p {
    font-family: $hand;
    font-size: 1.5rem;
    line-height: 1.25;
    @media (min-width: $breakpoint-md) {
      font-size: 2rem;
    }
    color: $ink;
  }
}

.post {
  ul {
    list-style: disc;
    padding-left: $space-4;
    li {
      font-size: 1.125rem;
      margin: 0 0 1rem;
      @media (min-width: $breakpoint-md) {
        font-size: 1.25rem;
        margin: 0 0 1rem;
      }
    }
  }
}

footer {
  padding: $space-4 0 $space-2;
  text-align: center;
  p {
    display: inline-block;
    font-family: $hand;
    font-size: 1.25rem;
    margin: 0;
    @media (min-width: $breakpoint-md) {
      font-size: 1.5rem;
    }
    -webkit-font-smoothing: initial;
    color: $ink;
  }
}
