---
layout: default
---
<article class="post">

  <header>
    <div class="postMeta">
      <p class="postIndex">#{{ page.index }}</p>
      <span class="postDate">{{ page.date | date_to_string }}</span>
    </div>
    <h1 class="postTitle">
      <a href="{{ post.url | relative_url }}">{{ page.title }}</a>
    </h1>
  </header>

  {{ content }}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
